html,body {
  width: 100%;
  height: 100%;
}

body {
  background-image: radial-gradient(#021027, #000000);
  margin: 0;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
}

.circle-container {
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.circle-container .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(
    hsl(180, 100%, 80%),
    hsl(180, 100%, 80%) 10%,
    hsla(180, 100%, 80%, 0) 56%
  );
  animation: fade-frames 2000ms infinite, scale-frames 2s infinite;
}

@keyframes fade-frames {
  0% { opacity: 1; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}

@keyframes scale-frames {
  0% { transform: scale3d(0.4, 0.4, 1); }
  50% { transform: scale3d(2.2, 2.2, 1); }
  100% { transform: scale3d(0.4, 0.4, 1); }
}
@media (max-width: 10000px){
    html,body {
  width: 100%;
  height: 100%;
}

body {
  background-image: radial-gradient(#021027, #000000);
  margin: 0;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;
}

    .box{
        /* background-color: red; */
        width: 100%;
        height: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 20px;

    }

.typing-text{
    font-family: Minecraft;
    color: white;
    font-size: 40px;
    /* font-weight: 600; */
    /* min-width: 280px; */
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Pikachu";
    /* background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%); */
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    color: #ffffff;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    /* background-color: black; */
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid white;
    }
}

@keyframes words{
    0%, 25%{
        content: "Pikachu";
    }
    26%, 50%{
        content: "Video Editor";
    }
    51%, 75%{
        content: "GamePlay";
    }
    76%, 100%{
        content: "Youtuber";
    }
}
.box-facebook{
    /* justify-content: center; */
    /* text-align: center; */
    /* justify-content: space-between; */
    align-items: center;
    margin: auto;
    width: 90%;
    height: 40px;
    background-color: black;    
    display: flex;
    width: 320px;
    padding: 24px;
    border-radius: 16px;
    background: rgba(255,255,255,0.12); /* translucent color */
    border: 1px solid rgba(255,255,255,0.18);
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    color: #fff;
    transition: 0.2s;
}
.box-facebook:hover{
    background: rgba(255, 255, 255, 0.17);

}
.box-facebook img{
    width: 60px;
}
.box-facebook h3{
    margin-left: 50px;
    color: white;
    /* margin-bottom: 0px; */
    font-size: 30px;
    font-family: GlobePersonal;
    /* color: black; */
}
@font-face {
    font-family: Sterion;
    src: url(font/Sterion-BLLld.ttf);
}
@font-face {
    font-family: Minecraft;
    src: url(font/MinecraftEvenings-lgvPd.ttf);
}
@font-face {
    font-family: GlobePersonal;
    src: url(font/TheGlobePersonalUseBold-2ORlw.ttf);
}
.button{
    font-size: 10px;
    margin-left: 50px;
    width: 60px;
    height: 50px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 17px;
    background: rgba(255,255,255,0.12);
    border: 1px solid rgba(255,255,255,0.18);
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    color: #fff;
    transition: 0.4s;
}
.button:hover{
    background: linear-gradient(90deg, #3a0ca3, #4361ee);
    transform: scale(1.05);
}

a{
    color: #fff;
    text-decoration: none;
}

}

